extends ../layout

block sidebar
  - var activeTab = 'collocation'

block content
  .collocation(ng-controller="collocation")
    //- h1 Konkordancja {{ tags.length }}

    form(action="")
      label(for="glosa") Glosa:
      angucomplete-alt(
        pause="400"
        selected-object="autocomplete"
        remote-url="/api/glosa-autocomplete.json?s="
        remote-url-data-field="results"
        search-fields="id"
        title-field="name"
        minlength="1"
        text-searching="..."
        text-no-results="Nie znaleziono pasujących wyników"
      )

      label(for="distance") Odległość:
      select(name="distance" ng-model="query.distance")
        each i in [2, 3, 4, 5, 10, 20]
          option(value="#{i}")= i

      //- button(type="submit") Szukaj

    p.alert(ng-hide="collocations.length") Brak wyników.

    table
      tbody
        tr(ng-repeat="collocation in collocations")
          td
            a(href="" ng-click="show(collocation)" ng-hide="collocation.videoSrc") zobacz
            video(ng-show="collocation.videoSrc" ng-src="{{ collocation.videoSrc }}" height="180" controls)
          td {{ collocation.name }}
          td {{ collocation.count }}
