extends ../layout

block sidebar
  - var activeTab = 'concordance'

block content
  .concordance(ng-controller="concordance")
    //- h1 Konkordancja {{ tags.length }}

    form(action="")
      label(for="glosa") Glosa:
      angucomplete-alt(
        pause="400"
        selected-object="autocomplete"
        remote-url="/api/glosa-autocomplete.json?s="
        remote-url-data-field="results"
        search-fields="id"
        title-field="name"
        minlength="1"
        text-searching="..."
        text-no-results="Nie znaleziono pasujących wyników"
      )

      label(for="distance") Ręka:
      select(name="hand" ng-model="query.hand")
        option(value="primary") Dominująca
        option(value="secondary") Niedominująca

      label(for="distance") Odległość:
      select(name="distance" ng-model="query.distance")
        each i in [2, 3, 4, 5, 10, 20]
          option(value="#{i}")= i

      //- button(type="submit") Szukaj

    .legend
      .legent-current szukana głosa
      .legent-primary ręka dominująca
      .legent-secondary ręka niedominująca
      .legent-nmns elementy niemanualne


    p.alert(ng-hide="concordances.length") Brak wyników.

    timeline(ng-repeat="concordance in concordances" data="concordance" glosa="query.glosaId")
